
.home-icon{
  color:#fc8f00;
  font-size: 43px !important;
}
.home-icon:hover{
  color:inherit
}

.renovation{
  color:inherit;
  font-weight: bold !important;
  font-size: 20px !important;
}
.renovation:hover{
  
  color:#fc8f00;
}
.gradient-color{
 
  font-size: 72px;
  background: -webkit-linear-gradient(260deg, #FFA400 25%, #0B0F1E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}